*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.header{
    width: 1440px;
    height: 156px;
    margin: 0 auto;
    border: 1px solid #BCAAAA;
    box-shadow: 0px 4px 8.7px 0px #00000040;
}
.container{
    margin: 0px 106px;
}
.nav{
   display: flex;
   margin-top: 45px;
   gap: 120px;
}

.nav ul{
    display: flex;
    gap: 50px;
    margin-top: 20px;
    color: #BCAAAA;
    
}
.nav ul li{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    margin-top: -10px;
}
.line{
  margin-bottom: -100px;
  margin-left: -110px;
}
.li{
    display: flex;
    align-items: center;
    gap: 15px;
}
.button{
    width: 219px;
    height: 63px;
    border-radius: 20px ;
    border: 3px solid #EF400F;
    background-color: white;
    color: #EF400F;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    margin-top: 15px;
    margin-left: -50px;
}
.img1{
    margin-left: -45px;
}
.section{
   width: 1440px;
}
.section_div{
    display: flex;
    margin-top: 70px;
}
.section_div h1{
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
    text-align: left;
    color: #0D0C5C;
}
.section_div_text{
    display: flex;
    margin-top: -50px;
    margin-left: 900px;
}
.section_div_text h1{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.73px;
    text-align: left;
    color: #EF400F;
}
.cards_first{
    display: flex;
    gap: 10px;
    margin-left: 80px;
}
.cards{
    display: flex;
    gap: 150px;
}
.card{
    width: 290px;
    height: 290px;
    border-radius: 30px;
    box-shadow: 0px 4px 13.3px 0px #00000040;
    background: #FFFFFF;
    margin-top: 90px;
}
.card_img{
    margin-top: 40px;
    margin-left: 50px;
}
.card h2{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    margin-left: 75px;
}
.card_text ul li{
    display: flex;
}
.card_text ul img{
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: 90px;
}
.card_text ul li{
    display: flex;
    margin-left: 120px;
    margin-top: -20px;
}
.card p{
    font-family: Inter;
    font-size: 13px;
    font-weight: 300;
    line-height: 15.73px;
    color: #000000BF;
    margin-top: 30px;
    margin-left: 100px;
}
.card_img2 img{
    margin-top: 20px;
    margin-left: 70px;
}
.card_img2 h2{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    margin-left: 85px;
}
.card_img3 img{
    margin-top: 30px;
    margin-left:80px;
}
.card_img3 h2{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    margin-left: 105px;
}
.card_img4 img{
    margin-left: 50px;
}
.card_img4 h2{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    margin-left: 85px;
}
.cards_second{
        display: flex;
        gap: 10px;
        margin-top: -10px;
        margin-left: 80px;
}
.card_second_img1 img{
    margin-left: 70px;
}
.card_second_img1 h2{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    margin-left: 125px;
}
.card_second_img2 img{
    margin-left: 50px;
}
.card_second_img2 h2{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    margin-left: 125px;
}
.card_second_img3 img{
    margin-left: 70px;
}
.card_second_img3 h2{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    margin-left: 115px;
}
.card_second_img4 img{
    margin-left: 65px;
}
.card_second_img4 h2{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    margin-left: 95px;
}
.cards_third{
    display: flex;
    gap: 10px;
    margin-top: 350px;
   margin-left: -1200px;
}
.card_third_img1 img{
    margin-top: 20px;
    margin-left: 85px;
}
.card_third_img1 h2{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    margin-left: 111px; 
}
.card_third_img2 img{
    margin-top: 10px;
    margin-left: 95px;
}
.card_third_img2 h2{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    margin-left: 111px; 
}
.card_third_p{
    width: 276px;
    margin-left: -16px;
}
.card_third_img3 img{
    margin-top: -10px;
    margin-left: 66px;
}
.card_third_img3 h2{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    margin-left: 105px; 
}
.card_third_img4 img{
    margin-top: 15px;
    margin-left: 75px;
}
.card_third_img4 h2{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    margin-left: 95px; 
}
.footer{
    width: 1440px;
    height: 65px;
    border: 1px solid #BCAAAA4F;
    box-shadow: 0px 4px 17.9px 0px #00000040;
    display: flex;
    gap: 300px;
    margin-top: 50px
}
.footer_text{
    display: flex;
    gap: 300px;
    margin-left: 90px;
    margin-top: 20px;
}
.footer_text h2{
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.36px;
    color: #000000;
    margin-top: 10px;
}
.footer_text a{
    margin-top: 10px;
}